.sidebarHeader{
    background-color:#f5f4f4;
    border-radius: 0.5rem;
}

.sidebarHeader>h3{
    margin : 0.4rem;
}

.elementsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
.ele_classifier{
    display: flex;
    justify-content: space-between;
}
.ele_classifier:hover{
    color: #006CFF;
    cursor: pointer;

}
.ranger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

