/* COLOR */
.colorize{
    display: flex;
    justify-content: space-around;
    margin: 0px 1.5rem;
}

.removeAll {
    border: none;
    padding: 0;
}

.forBlue {
    border: 2px groove #2200ff;
}

.forPink{
    border: 2px groove #FC3E39;
}

.forBlack{
    border: 2px groove #171717;
}

.forYellow{
    border: 2px groove #FFF600;
}


.forLightPink{
    border: 2px groove #FF00B4;
}

.forCamron{
    border: 2px groove #FC3E39;
}
