.homePageImg2{
    display: flex;
    height: 25rem;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    margin-top: 2rem;
    background-color: #299af6;
}

.homeImgText{
    margin-bottom: 5rem;
    margin-left: 1rem;
}

.homeImgText>h4{
    margin: 0px;
    padding:0.7rem 0.7rem 0.7rem 0rem;
    border-bottom: white 2px linear;
    text-decoration: underline 2px white;
}

.mainImg2{
    /* position: absolute; */
    height: 29rem;
    z-index:1;
}

@media (max-width:576px){
    .homePageImg2{
        /* flex-direction: column;
        justify-content: space-between;
        align-items: flex-end ; */
        display: block;
        position: relative;
        /* text-align: center; */
    }
    .mainImg2{
        position: absolute;
        bottom: 0rem;
        margin-left: 15%;
        height: 20rem;
        bottom: 0rem;
        /* top: 2rem; */
    }
    .homeImgText{
        position: absolute;
        margin-top: 1.5rem;
        margin-right: 2rem;        
        margin-bottom: 0rem;
        margin-left: 2rem;
        /* padding-top: 2rem; */
    }
}