.homePageImg2{
    display: flex;
    height: 25rem;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    margin-top: 2rem;
    background-color: #299af6;
}

.homeImgText{
    margin-bottom: 5rem;
    margin-left: 1rem;
}
.homeImgText>h4{
    
    padding: 0.7rem;
    border-bottom: white 2px linear;
}
.mainImg2{
    height: 29rem;
}