.mainBar{
    display: flex;
    padding: 0px 10%;
}

.smallsidebar{
    flex: 3;
    border: red dotted 2px;
    margin : 10px;
    height: 100vh;
}

.largesidebar{
    flex: 9;
    border: purple  dotted 2px;
    height: 100vh;
    margin : 10px;
    background-color:#e1e1e1;
    border-radius: 0.5rem;
}