.mainBar{
    display: flex;
    padding: 0px 10%;
    z-index: 5;
}

.smallsidebar{
    flex: 3;
    border: red dotted 2px;
    margin : 10px;
}

.sidebarHeader >h4 {
    text-align: center;
    padding: 1rem;
}
.largesidebar{
    flex: 9;
    border: purple  dotted 2px;
    margin : 10px;
    border-radius: 0.5rem;
}
.advertise{
    margin-top: -2rem;
    padding: 0px;
    
}