.Facilitis{
    margin: 3rem 20%;
    display: flex;
    justify-content: space-between;
}
.subFacilities{
    width: 12rem;
    /* height: 12rem; */
    display: flex;
    border: 3px red ridge;
    flex-direction: column;
    align-items: center;
}

.subFacilities>img{
    width: 2rem;
    height: 2rem;
}
 
@media screen {
    
}