.subnavbarContainer2{
    left:0;
    right:0;
  
    /* position: relative; */
    background-color: aliceblue;
    height: auto;
    width: auto;
    z-index: 8;
    overflow: visible;
    
}
.Subnavbar2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* z-index: 8; */
    
}
.columnsTab2>h6{
    color: #d3d3d3;
}
.columnsTab2>p{
    font-size: 0.7rem;
}

@media (max-width:576px){
    .subnavbarContainer{
        width: auto;
    }
}