.mainImg{
    position: relative;
    z-index: 5;
    width: 100%;
    height: auto;
}
.subHead{
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
}
.subHeadSubpoints{
    display: flex;
    justify-content: center;
}
.subListItems{
    padding: 1.5rem ;
    font-weight: bold;
    text-decoration: none;
    color: black    ;
    font-size: 1rem; 
    
}
.subListItems:hover{
    color: #006CFF;
    cursor: pointer;
}
.homepageItems{
    margin: 1.5rem 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Feactured{
    margin: 3rem 10%;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}
.sliderContainer{
    /* width: 65rem; */
    padding: 2% 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.sliderContainerrr{
    min-height: 0;
min-width: 0;
}

.arrows{
    font-size: 3rem;
}

