.mainImg{
    position: relative;
    z-index: 5;
    width: 100%;
    height: auto;
}
.subHead{
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
}
.subHeadSubpoints{
    display: flex;
    justify-content: center;
}
.subListItems{
    padding: 1.5rem ;
}
.homepageItems{
    margin: 1.5rem 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

