.Subnavbar{
    position: absolute;
    /* top : 200px; */
    margin: -30px 20%;
    background-color: aliceblue;
    height: 15rem;
    width: 60rem;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.columnsTab>h4{
    color: #d3d3d3;
}
.columnsTab>p{
    font-size: 0.8rem;
}