.subnavbarContainer{
    left:0;
    right:0;
    /* top: 2rem; */
  
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
  
    /* position: relative; */
    background-color: aliceblue;
    height: 15rem;
    width: 60rem;
    z-index: 8;
    overflow: visible;
    
}
.Subnavbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* z-index: 8; */
    
}
.columnsTab>h4{
    color: #d3d3d3;
}
.columnsTab>p{
    font-size: 0.8rem;
}