.topbarColor>a{
    color: black;
}
.topBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 1.8rem;
}
.firstBar{
    /* width: 30%; */
    display: flex;
    justify-content: space-evenly;
}
.secondBar{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.itemPrice{
    color: #d3d3d3;
}
.rounded-pill ,.cartBadge{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topListItemRight{
    margin: 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: #666;
}
.itemCount{
    position: absolute;
    z-index: 4;
    width: 18px;
    height: 18px;
    object-fit: cover;
    font-size: 10px;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    top:-1px;
    left:12px;
    /* padding:5px; */
    
}

.TopmobBar>.items>img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    z-index: 3;
}
.TopmobBar>.profile>img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
/* MOBILE TOPBAR */

.TopmobBar{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.topmobBarClor>a{
    color: white;
}