
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    /* margin: 0px; */
    padding-top: 11rem;
    font-family: 'Varela Round', sans-serif;
}
hr.hrTopNavbar{
    /* margin-top: 45px; */
    margin: 0px;
    color: #d3d3d3;
    /* opacity: 0.2%; */
}
.navBar{
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    background-color: white; 
}
.logo{
    margin-top: 2rem;
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.navBarIcon{
    width: 1.3rem;
}

.navbarItems{  
    padding: 1.5rem ;
    /* padding-bottom: 0.5rem; */
    font-weight: bolder;
    text-decoration: none;
    /* color: white    ; */
    font-size: 1.1rem; 
    
}
.navbarItems:hover{
    font-weight: 900;
    font-size: 1.15rem;
    color: #006CFF;
    cursor: pointer;
}
.Navbarstyle{
    display: flex;
    justify-content: center;
    /* display: block; */
}

/*dropdown*/

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* z-index: 8; */
}
  
.dropdown-content {
    display: none;
    position: absolute;
    left: -200%;
    background-color: #f1f1f1;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 8;
    overflow: visible;
    /* border-top: 1.5px solid rgb(177, 177, 177, 0.5); */
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
}


/* responsive design */
.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0.8rem 0rem 0.8rem 0rem;
}

.offcanvas.show {
    transform: none;
    /* background: rgba(255,255,255,0.5); */
    background: rgb(71, 70, 70,0.5);
    backdrop-filter: blur(20px);
}
@media (max-width:576px){
    body{
        padding: 0.2rem;

    }
    .logo2{
        width: 6rem;
    }
    .navBar{
        display: none;
    }
    .navBar2{
        display: block;
    }
}
@media (min-width:576px){
    .navBar{
        display: block;
    }
    .navBar2{
        display: none;
    }
}
