
/* card design */

.subCards{
    height: 15rem;
    width : 10rem;
    /* margin-top: 1rem; */
    margin: 1.5rem;
    border-radius: 0.5rem;
    border: black dashed 3px;
    text-align: center;
}
.imagepart{
    width: 5rem;
    height: 5rem;
}
.itemRatings{
    /* align-self: center; */
    margin-left: auto;
    margin-right: auto;
}

