.subHead{
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
}
.subHeadSubpoints{
    display: flex;
    justify-content: center;
}
.subListItems{
    padding: 1.5rem ;
}
/* card design */
.homepageItems{
    margin: 1.5rem 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.subCards{
    height: 15rem;
    width : 10rem;
    /* margin-top: 1rem; */
    margin: 1.5rem;
    border-radius: 0.5rem;
    border: black dashed 3px;
}
.homePageImg2{
    display: flex;
    height: 25rem;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-top: 2rem;
    background-color: #299af6;
}
.homeImgText>h4{
    padding: 0.7rem;
    border-bottom: white 2px linear;
}
.mainImg2{
    height: 30rem;
}