.sidebarHeader{
    background-color:#f5f4f4;
    border-radius: 0.5rem;
}

.sidebarHeader>h3{
    margin : 0.4rem;
}

/**/
.verticalStrip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.verticalStrip2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.flexDiv{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: visible;
  align-items: center;
  width: 25% ;
  margin: 1%;
  /* min-width: 450px; */
}

.myAuto{
  width: 1.2rem;
}
.cardsbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media only  screen and (min-width:250px) and (max-width:370px){
  .largeSidebar>html{
    font-size: 50%;
  }
  .verticalStrip{
    display: none;
  }
}

@media only  screen and (min-width:370px) and (max-width:576px){
  .largeSidebar>html{
    font-size: 70%;
  }
  .verticalStrip{
    display: none;
  }
}

@media only  screen and (min-width:576px) and (max-width:768px){
  .largeSidebar>html{
    font-size: 80%;
  }
  .flexDiv{
      min-width: 50%;
      width: 15% ;
  }
  .verticalStrip{
    display: none;
  }
}